<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zero.vulnlab">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vuln Lab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name="com.zero.vulnlab.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zero.vulnlab.RegisterActivity" />
        <activity android:name="com.zero.vulnlab.MainActivity" />
        <activity android:name="com.zero.vulnlab.IsRootedActivity"/>
        <activity android:name="com.zero.vulnlab.AppHashActivity"/>
        <activity android:name="com.zero.vulnlab.CodeObfuscationActivity"/>
        <activity android:name="com.zero.vulnlab.SharedPreActivity"/>
        <activity android:name="com.zero.vulnlab.HardcodeDataActivity"/>
        <activity android:name="com.zero.vulnlab.MemoryLeakActivity"/>
        <activity android:name="com.zero.vulnlab.LogLeakActivity"/>
        <activity android:name="com.zero.vulnlab.ExportedActivity"/>
        <activity android:name="com.zero.vulnlab.DebugActivity"/>
        <activity android:name="com.zero.vulnlab.FlagSecureActivity"/>
        <activity android:name="com.zero.vulnlab.TCPRequestActivity"/>
        <activity android:name="com.zero.vulnlab.UserListActivity" android:exported="true"/>
        <activity android:name="com.zero.vulnlab.DeepLinkActivity"/>
        <activity android:name="com.zero.vulnlab.DeepLinkViewActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="zeroapp" android:host="vulnlab.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>
